// Polar Night
@base00: #22272e; // black
@base01: #535b63; // dark grey
@base02: #96a1ad;
@base03: #768390; // grey

// Snow Storm
@base04: #ca3b3b; // grey
@base05: #e5e9f0; // off white
@base06: #eceff4; // white

// Frost
@base07: #8fbcbb; // moss green
@base08: #88c0d0; // ice blue
@base09: #82b3db; // water blue
@base0A: #67788d; // deep blue

// Aurora
@base0B: #776163; // red
@base0C: #8f7a74; // orange
@base0D: #9c9280; // yellow
@base0E: #777c73; // green
@base0F: #80757d; // purple
